.login{
    position: fixed;
      /* allow it stick to top of screen
         */
    width: 100%;
    z-index: 1;
    /* padding: 20px; */
    height: 100%;
    align-items: center;
    top: 0;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    background-size: contain;
    background-image: url("https://i.pinimg.com/originals/ac/ef/ff/acefff4ae220957f82325d5b8f6b3024.jpg");
  }
  .login_background{
    /* background-color: black; */
    /* margin-right: 10px; */
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  .gradient{
      width: 100%;
      height: 100vh;
      z-index: 1;
      background: rgba(0,0,0,0.4);
      background-image: linear-gradient(
          to top,
          rgba(0,0,0,0.9) 0%,
          rgba(0,0,0,0) 60%,
            rgba(0,0,0,0.95)100%
      );
  }
  .form{
      position: absolute;
      z-index: 2;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center; 
      /* margin: 350px; */
    margin-left: auto;
    margin-right: auto;
    margin: 50vh;
      
  }
  .form > h1{
      margin: 10px;
      /* width: 400px; */
      text-align: center;
      font-size: 60px;
  }
  .form > h3{
      margin: 10px;
      font-size: 25px;
      font-weight: 500;
  }
  .form > h4{
      margin: 10px;
      font-size: 18px;
      font-weight: 400;
  }
  .form .login_input{
      display: flex;
      margin: 10px;
  }
  .form > .login_input > input{
      border: none;
      border-radius: 0;
      outline: none;
      padding: 8px;
      width: 70vh;
  }
  .form > .login_input > button{
      border: none;
      border-radius: 0;
      margin-left: 2px;
      padding: 20px;
      width: 40%;
      text-transform: uppercase;
      background-color: #E50914;
      color: white;
      font-size: 25px;
  }
  .login_logo{
      width: 180px;
      object-fit: contain;
      cursor: pointer;
      top: -5px;
      left: 20px;
      z-index: 2;
      position: fixed;
  }
  .login_button {
      width: 40px;
      cursor: pointer;
      object-fit: contain;
      top:25px;
      padding: 8px 15px;
      background-color: #E50914;
      color: white;
      z-index: 2;
      border: none;
      border-radius: 3px;
      width: fit-content;
      position: fixed;
      right: 20px;
      transition: all 0.4s ease-in-out;
      /* color: white; */
    }
    .login_button:hover{
        transform: scale(1.1);
    }
    