.row {
    margin-left: 20px;
    color: white;
  }
  .row > h1 {
    padding-top: 10px;
  }
  .row_posters {
    display: flex;
    overflow-x: scroll;
    padding: 25px;
  }  
  .row_posters::-webkit-scrollbar {
    display: none;
    /* this will tell all the browsers that hide the scroll bar but keep the functionality */
  }
  .row_poster {
    width: 100%;
    max-height: 100px;
    object-fit: contain; /* this will keep the aspect ratio means we can zoom in or out it will be clearer */
    transition: transform 450ms; /* for smooth hovering */
    margin-right: 10px;
  }
  
  .row_poster:hover {
    transform: scale(1.08);
  }
  
  .row_posterLarge:hover {
    transform: scale(1.09);
  }
  .row_posterLarge {
    max-height: 250px;
  }
  